.container{
  font-size: .9em;
}

.custom-tabs-scroll-wrapper {
  overflow-x: auto;
  padding-bottom: 0.5rem;
  margin-bottom: 1em;
  -webkit-overflow-scrolling: touch;
}

.custom-tabs-container-scroll {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.75rem;
  padding: 0.2rem .1rem;
  min-width: max-content;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.custom-tab {
  white-space: nowrap;
  padding: 0.1rem .7rem;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background: rgba(255, 255, 255, 0.08);
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
  flex-shrink: 0;
}

.custom-tab:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.custom-tab.active {
  background: linear-gradient(to right, #df5700, #df5700);
    color: #ffffff;
    font-weight: bold;
    border: none;
    box-shadow: 0 0px 6px rgb(254 150 0 / 40%);
}

.order-card-glass {
  cursor: pointer;
  backdrop-filter: blur(14px) saturate(160%);
  -webkit-backdrop-filter: blur(14px) saturate(160%);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1.5rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.order-card-glass.cancelled{
  background-color: rgb(50 50 50);
}

.order-card-glass.completed{
  background-color: rgb(18 151 0 / 44%);
}

.order-card-glass:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
}

.status-badge {
  font-size: 0.75rem;
  padding: 0.4em 0.8em;
  border-radius: 1rem;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* سفارشی‌سازی وضعیت‌ها با رنگ لطیف */
.status-badge.bg-warning {
  background-color: rgb(255 202 0) !important;
  color: #000000 !important;
}

.status-badge.bg-success {
  background-color: rgba(40, 167, 69, 0.6) !important;
  color: #fff !important;
}

.status-badge.bg-danger {
  background-color: rgba(220, 53, 69, 0.6) !important;
  color: #fff !important;
}

.status-badge.bg-info {
  background-color: rgba(23, 162, 184, 0.6) !important;
  color: #fff !important;
}

