body,
#wrapper {
  color: black !important;
  direction: rtl;
  text-align: right;
}

.navbar {
  flex-direction: row-reverse;
  .ml-auto {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}

.nav-link {
  text-align: right;
}
.card {
  direction: rtl;
}
