<nav class="category-navbar d-flex gap-2 px-3 py-2 overflow-auto">
    <a class="category-item" *ngFor="let category of categories" (click)="loadItems(category.id)">{{ category.title
        }}</a>
</nav>

<div class="container py-4">
    <div class="row g-3">
        <div class="col-6 col-lg-3 col-md-4" *ngFor="let item of items" (click)="openItemModal(item)" #menuContainer>
            <div class="glass-card p-0">
                <img [src]="baseUrl + '/uploads/menu-items/' + item.image" style="
                width: 100%;
    height: 8em;
    object-fit: cover;" alt="">
                <h5 class="card-title px-3 pt-3">{{item.title}}</h5>
                <p class="card-text px-3">{{item.description}}</p>
                <div (click)="onButtonClick($event)" class="pb-3 px-3">
                    <div *ngIf="getItemCount(item.id) === 0; else counter">
                        <button class="card-button btn btn-outline-warning" (click)="increaseQty(item)">افزودن به سبد
                            خرید</button>
                    </div>
                </div>

                <ng-template #counter (click)="$event.stopPropagation()">
                    <div (click)="onButtonClick($event)" class="pb-3 px-3">
                        <div class="d-flex align-items-center gap-2">
                            <button class="btn btn-outline-warning btn-sm" style="padding: .1em 0.5em;"
                                (click)="decreaseQty(item.id)">➖</button>
                            <span>{{ getItemCount(item.id) }}</span>
                            <button class="btn btn-outline-warning btn-sm" style="padding: .1em 0.5em;"
                                (click)="increaseQty(item)">➕</button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="menuItemModal" #menuItemModal tabindex="-1" aria-labelledby="menuItemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content glass-modal p-4">
            <div class="modal-header border-0">
                <h5 class="modal-title text-white" id="menuItemModalLabel">{{selectedItem.title}}</h5>
                <button type="button" class="btn-close btn-close-white float-start" (click)="closeItemModal()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body text-white text-center">
                <p class="mb-2">{{selectedItem.description}}</p>
                <p class="fw-bold">قیمت: {{selectedItem.price}}</p>

                <div class="quantity-control d-flex justify-content-center align-items-center gap-3 my-3">
                    <button class="btn btn-outline-warning px-3" (click)="decreaseQty(selectedItem.id)">-</button>
                    <span class="fs-5">{{ quantity }}</span>
                    <button class="btn btn-outline-warning px-3" (click)="increaseQty(selectedItem)">+</button>
                </div>
            </div>
        </div>
    </div>
</div>